@import url('https://fonts.googleapis.com/css?family=Kalam:300|Lato:300|Raleway:300');
$ghost-white: #fdfdfe;
$heather: #a7b6c5;
$spindle: #b1c1d0;
$pattens-blue: #dee3e5;
$bali-hai: #8c949d;
$dodger-blue: #128af1;
$border: 1px solid $pattens-blue;
body {
    margin: 0;
}

.app-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.chat {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    justify-content: space-between;
    max-height: 100vh;
    width: 100%;
    .input {
        color: darkslategray;
    }
    .messages {
    }
    .title {
        align-items: center;
        background-color: whitesmoke;
        border-bottom: $border;
        display: flex;
        flex-flow: row nowrap;
        height: 3rem;
        justify-content: space-between;
        min-height: 3rem;
        padding: 0 1rem;
        .icons {
            color: gray;
        }
        .text {
            font-family: kalam, cursive;
        }
    }
}

.connections {
    border-right: $border;
    cursor: pointer;
    font-family: raleway, sans-serif;
    height: 100vh;
    overflow-y: auto;
    width: 20em;
    .type {
        .item {
            border-bottom: $border;
            display: flex;
            flex-flow: column nowrap;
            height: 6rem;
            padding: 1rem;
            .content {
                display: flex;
                flex-flow: column nowrap;
                font-family: lato, sans-serif;
                justify-content: space-between;
                height: 100%;
                margin-top: 8px;
                .text {
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    display: -webkit-box;
                    max-height: 40px;
                    overflow: hidden;
                }
                .time {
                    align-self: flex-end;
                    font-size: smaller;
                }
            }
            .empty-content {
                font-style: italic;
                margin-top: 8px;
            }
            .title {
                align-content: center;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                .alert {
                    background-color: tomato;
                    border-radius: 5px;
                    color: $ghost-white;
                    font-family: Courier New, Courier, monospace;
                    font-size: smaller;
                    padding: 2px 5px;
                }
                .name {
                    font-family: kalam, sans-serif;
                    text-transform: capitalize;
                }
            }
            &:hover {
                background-color: $ghost-white;
            }
            &.activated {
                background-color: $dodger-blue;
                color: $ghost-white;
            }
        }
        .label {
            align-items: center;
            background-color: whitesmoke;
            border-bottom: $border;
            display: flex;
            flex-flow: row nowrap;
            height: 3rem;
            justify-content: space-between;
            min-height: 3rem;
            padding: 0 1rem;
            .icons {
                color: gray;
            }
            .text {
                color: darkslategray;
                font-weight: bolder;
            }
        }
        .new {
            border-bottom: $border;
            padding: 1rem;
        }
    }
}