@import url('https://fonts.googleapis.com/css?family=Kalam:300|Lato:300|Raleway:300');
$ghost-white: #fdfdfe;
$heather: #a7b6c5;
$spindle: #b1c1d0;
$pattens-blue: #dee3e5;
$bali-hai: #8c949d;
$dodger-blue: #128af1;
$border: 1px solid $pattens-blue;
body {
    margin: 0;
}

.app-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.chat {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    justify-content: space-between;
    max-height: 100vh;
    width: 100%;
    .messages {
        color: darkslategray;
        height: 100%;
        overflow-y: auto;
        .input {
            color: darkslategray;
            margin-bottom: 2rem;
            padding: 0 2rem;
            .text-input {
                border: $border;
                border-radius: 5px;
                min-height: 1.2rem;
                padding: 5px 1rem;
                &:focus {
                    border-color: $dodger-blue;
                    outline: none;
                }
            }
        }
        .message {
            border-top: $border;
            display: flex;
            margin: 0 2rem;
            padding: 2rem 1rem;
            .wrapper {
                display: inline-block;
                .footer {
                    align-items: baseline;
                    display: flex;
                    font-size: smaller;
                    justify-content: flex-end;
                    .author {
                        font-variant: small-caps;
                        font-family: kalam, cursive;
                        margin: 0 1rem;
                        text-transform: capitalize;
                    }
                    .time {
                        font-family: lato, sans-serif;
                    }
                }
                .text {
                    background-color: whitesmoke;
                    border-radius: 2px;
                    display: inline-block;
                    padding: 5px 1rem;
                }
            }
            &.mine {
                background-color: #fefdfd;
                justify-content: flex-end;
            }
            &:first-of-type {
                border-top: 0;
                margin-top: 0;
            }
        }
    }
    .title {
        align-items: center;
        background-color: whitesmoke;
        border-bottom: $border;
        display: flex;
        flex-flow: row nowrap;
        height: 3rem;
        justify-content: space-between;
        min-height: 3rem;
        padding: 0 1rem;
        .icons {
            color: gray;
        }
        .text {
            color: darkslategray;
            font-family: raleway, sans-serif;
            font-size: larger;
            font-variant: small-caps;
        }
    }
}

.connections {
    border-right: $border;
    cursor: pointer;
    font-family: raleway, sans-serif;
    height: 100vh;
    overflow-y: auto;
    width: 30vw;
    .type {
        .item {
            border-bottom: $border;
            display: flex;
            flex-flow: column nowrap;
            height: 6rem;
            padding: 1rem;
            .content {
                display: flex;
                flex-flow: column nowrap;
                font-family: lato, sans-serif;
                justify-content: space-between;
                height: 100%;
                margin-top: 8px;
                .text {
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    display: -webkit-box;
                    max-height: 40px;
                    overflow: hidden;
                }
                .time {
                    align-self: flex-end;
                    font-size: smaller;
                }
            }
            .empty-content {
                font-style: italic;
                margin-top: 8px;
            }
            .title {
                align-content: center;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                .alert {
                    background-color: tomato;
                    border-radius: 5px;
                    color: $ghost-white;
                    font-family: Courier New, Courier, monospace;
                    font-size: smaller;
                    padding: 2px 5px;
                }
                .name {
                    font-family: kalam, sans-serif;
                    font-variant: small-caps;
                    text-transform: capitalize;
                }
            }
            &:hover {
                background-color: $ghost-white;
            }
            &.activated {
                background-color: $dodger-blue;
                color: $ghost-white;
                .title {
                    .alert {
                        background-color: $ghost-white;
                        color: tomato;
                    }
                }
            }
        }
        .label {
            align-items: center;
            background-color: whitesmoke;
            border-bottom: $border;
            display: flex;
            flex-flow: row nowrap;
            height: 3rem;
            justify-content: space-between;
            min-height: 3rem;
            padding: 0 1rem;
            .icons {
                color: gray;
            }
            .text {
                color: darkslategray;
                font-weight: bolder;
            }
        }
        .new {
            border-bottom: $border;
            padding: 1rem;
        }
    }
}

.right-pane {
    width: 25vw;
    .session {
        align-content: flex-start;
        align-items: flex-start;
        color: darkslategray;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        .time {
            border-bottom: $border;
            font-family: lato, sans-serif;
            margin: 1rem;
            padding-bottom: 1rem;
            width: 100%;
        }
        .stats {
            border-bottom: $border;
            margin: 1rem;
            padding-bottom: 1rem;
            width: 100%;
        }
        .polugin-figure {
            align-content: center;
            align-items: center;
            border: $border;
            border-radius: 5px;
            color: darkslategray;
            display: flex;
            flex-flow: row nowrap;
            font-size: smaller;
            margin: 1rem;
            .caption {
                margin: 0 1rem;
            }
            &.activated {
                background-color: snow;
            }
        }
    }
}